<div class="row">
    <div class="col-xs-2">Id</div>
    <div class="col-xs-2">
        <a href="https://allegro.pl/kategoria/butelki-i-akcesoria-butelki-99424?string=avent%20260&order=d&bmatch=ss-base-relevance-floki-5-nga-hcp-bab-1-4-1003"
            target="_blank">
            Avent butelka 260 ml
        </a>    
    </div>
    <div class="col-xs-2">Cena zakupu</div>
    <div class="col-xs-2">
        <input type="text"/>
    </div>
    <div class="col-xs-2">Zysk</div>
    <div class="col-xs-2">
        <button class="btn btn-primary" (click)="onSendToChangePrice()">Zmień</button>
    </div>
</div>